doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")  
        title= "teste"
        link(rel="stylesheet" type="text/css" href="main.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    body
        header
            div(class="container")
                div(class="row theme-bg")
                    div(class="col")
                        nav(class="navbar navbar-expand-xl navbar-light")
                            a(href="https://menucerto.app/cardapio") LOGO
                            //- img(src="https://menucerto.app/assets/img/logo-light.png")
                            button(class="navbar-toggler d-flex" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                                h4(class="pt-2") menu
                                span(class="navbar-toggler-icon" style="margin-top: 6px;")
                            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                                ul(class="navbar-nav mr-auto")
                                    li(class="nav-item active")
                                        a(class="nav-link" href="#") Home 
                                            span(class="sr-only")(current) 
                                    li(class="nav-item")
                                        a(class="nav-link" href="#") Link
                                    li(class="nav-item dropdown")
                                        a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                                        div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                                            a(class="dropdown-item" href="#") Action
                                            a(class="dropdown-item" href="#") Another action
                                            div(class="dropdown-divider")
                                            a(class="dropdown-item" href="#") text
                div(class="row pt-3")
                    div(class="col pl-4 pr-4")
                        div(class="input-group mb-3 pr-1")
                            input(type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2")
                            div(class="input-group-append")
                                button(class="btn btn-outline-secondary" type="button" id="button-addon2") Buscar
                        
        
        div(class="container")                
            div(class="row")
                div(class="col")
                    section
        


        //- script.
        //-     $( "button" ).click(function() {
        //-         $( "div.slide" ).toggleClass( "--visible" );
        //-     });
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
            